* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: 'Calibri', sans-serif;
    background-color: #e0f7fa; /* Cor de fundo inspirada na paleta de cores da imagem */
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #006064; /* Cor escura para a aba lateral */
    color: white;
    padding: 20px;
}

.sidebar nav ul {
    list-style-type: none;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.sidebar nav ul li a:hover {
    text-decoration: none;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

h1, h2 {
    color: #004d40; /* Cor de destaque dos títulos */
    margin-bottom: 20px; /* Ajuste conforme necessário */
}

p {
    margin-top: 20px;
    line-height: 1.5;
    font-size: 18px;
}

ul li {
    line-height: 1.5; /* Controla o espaçamento entre as linhas da lista */
}

a {
    color: #00796b;
    text-decoration: none;
}

a:hover {
    color: #004d40;
    text-decoration: none;
    text-shadow: #fdb89b 1px 0 10px; /* Destaque nos links */
}

/* Suavidade no scroll */
html {
    scroll-behavior: smooth;
}

/* Estilo para seções */
section {
    min-height: 100vh; /* Altura mínima de cada seção para ocupar toda a tela */
    padding: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #fdb89b; /* Linha de separação entre seções */
}
